<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book My Train</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Font-awesome -->
    <script src="https://use.fontawesome.com/07d62e5a9f.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</head>

<body>

    <main>
        <div class="alert alert-warning container" role="alert">
            There are no seats available, try other trains.
        </div>
        <div class="container">
            <a href="/train/<%=trainNumber%>" target="_blank"><button class="btn-outline-warning">
                    <i class="fa fa-subway train-icon"></i>View Your Train
                </button></a>
            <h3 class="mb-4">Book My Train</h3>
            <div class="header">
                <h3><span class="bold-text" style="color:white">Train: Vande Bharat | 12906</span>
                   
                </h3>
            </div>
            <div class="data">
                <form method="POST" action="/book">
                    <input type="number" id="availableSeats" hidden name="availableSeats" value="<%=availableSeats%>">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 mb-2">
                                <label for="trainNumber" class="form-label">Train Number</label>
                                <input type="number" class="form-control" id="trainNumber" aria-describedby="emailHelp"
                                    value="<%=trainNumber%>" readonly name="trainNumber">
                            </div>
                            <div class="col-lg-4 col-sm-12 mb-2">
                                <label for="date" class="form-label">Date of journey</label>
                                <input type="date" class="form-control" id="date" aria-describedby="emailHelp" readonly
                                    name="date">
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="seatsCount" class="form-label">Number of seats</label>
                        <div class="seat-counter">
                            <div class="counter-item" id="plus">+</div>
                            <input type="number" class="form-control counter-item" id="seatsCount" readonly value="1"
                                name="seatsCount">
                            <div class="counter-item" id="minus">-</div>
                        </div>
                        <div id="emailHelp" class="form-text">You can reserve up to 7 seats at a time if available,
                            currently <span class="highlight">
                                <%=availableSeats%>
                            </span> Seats are available.</div>
                    </div>
                    <button type="submit" class="btn-outline-warning" id="book-btn">Book Now</button>
                </form>
            </div>
        </div>
    </main>



    <script src="/scripts/script.js"></script>
</body>

</html>